body {
  font: 10px sans-serif;
}

.chart { 
  background: #fff;
}

chart_element {
	background: #fff;
}

p {
  font: 20px helvetica;
}

#info {
	font: 16px sans-serif;
	display: inline-block;
}

#besideMouse {
	display: inline;
	background-color: white;
	font-weight: bold;
}

#colorButton {
	display: inline;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
